body{
background: url("../images/polaroid.png")
}

p{
    color:#6A7A7A;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-family: "Cambay", Verdana, Tahoma, sans-serif;
    font-size: 16pt;
    font-weight: 900;
    color:#333B3A;
    margin-top: 20px;
    margin-left: 10px;
}

.navbar{
    background-color: #333B3A;
}


.navbar-brand{
    font-family: "Cambay", Verdana, Tahoma, sans-serif;
    font-size: 24pt;
    font-weight: 900;
    color:#DAFBFA;
}

.nav-item{
    font-family: "Cambay", Verdana, Tahoma, sans-serif;
    color:#DAFBFA;
}

.nav-link{
    color:#DAFBFA;
    font-size:14pt;

}

.main-section{
    background-color:#f0fffe;
    margin-top: 20px;
    padding: 10px;
}

#kate-pic{
    height: 250px;
    width: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}